.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker {
  display: none;
  width: 244px;
  padding: 1em 1em 0.5em 1em;
  margin-top: 0.9em;
  cursor: default;
  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 0.75em;
  background: #FFFAFA;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border: 2px solid #5843d2; }

.ui-datepicker-header {
  position: relative;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #5843d2; }

.ui-datepicker-title {
  text-align: center; }

.ui-datepicker-month {
  position: relative;
  padding-right: 15px;
  color: #5843d2;
  font-weight: bold; }

.ui-datepicker-year {
  padding-left: 8px;
  color: black; }

.ui-datepicker-month:before {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  height: 5px;
  content: '';
  background: #a5cd4e;
  background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5cd4e), color-stop(100%, #6b8f1a));
  background: -webkit-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -o-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -ms-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  top: -2px;
  padding: 4px;
  cursor: pointer; }

.ui-datepicker-prev {
  left: 0;
  padding-left: 4;
  background-image: url(../images/icons/black_arrow_left.png); }

.ui-datepicker-next {
  right: 0;
  padding-right: 4;
  background-image: url(../images/icons/black_arrow_right.png); }

.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: block;
  width: 5px;
  height: 8px;
  text-indent: -9999px; }

.ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #5843d2;
  font-weight: 500; }

.ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  line-height: 26px; }

.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 20px;
  outline: none;
  text-decoration: none;
  color: black;
  border: 1px solid transparent; }

.ui-datepicker-calendar .ui-state-active {
  color: #5843d2;
  border: 1px solid #5843d2; }

.ui-datepicker-other-month .ui-state-default {
  color: darkgrey; }
