/* 425 x  */
/* 768 x 576 Tablet */
@media only screen and (max-width: 850px) {
  .head_nav,
  .offers_explore,
  .travel_offers,
  .footer_info,
  .membership,
  .terms_privacy {
    font-size: 12px; }
  header {
    background-image: url(../images/background/ancient-1869218_1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  header .head_nav {
    padding-bottom: 230px; }
  header .slider {
    display: none; }
  .offers_explore {
    margin-top: 0; }
  .offers_explore .travel_offers figure.effect-img {
    font-size: 9px !important; }
  .landing_page {
    display: none; } }

@media only screen and (max-width: 950px) {
  header {
    background-image: url(../images/background/ancient-1869218_1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  header .head_nav {
    padding-bottom: 230px; }
  header .slider {
    display: none; }
  .landing_page {
    display: none !important; }
  section .travel_offers figure.effect-img {
    font-size: 10px !important; } }

/* 1024 x 600 Laptop */
@media only screen and (max-width: 1024px) {
  header,
  section,
  footer {
    font-size: 14px; }
  .travel_offers figure.effect-img {
    font-size: 11px !important; } }

@media screen and (max-width: 1176px) {
  section .travel_offers figure.effect-img {
    font-size: 12px; } }

#Pic1Res2,
#Pic2Res2,
#Pic3Res2,
#Pic4Res2,
#Pic5Res2 {
  display: none; }

/* 1366 x 672 Laptop L*/
@media only screen and (max-width: 1366px) {
  html {
    font-size: 15px; }
  html figure.effect-img {
    font-size: 14px; }
  html #Pic1Res1,
  html #Pic2Res1,
  html #Pic3Res1,
  html #Pic4Res1,
  html #Pic5Res1 {
    display: none; }
  html #Pic1Res2,
  html #Pic2Res2,
  html #Pic3Res2,
  html #Pic4Res2,
  html #Pic5Res2 {
    display: inherit; }
  html .ui-datepicker {
    width: 224px;
    padding: 0.5em 0.4em 0 0.4em;
    margin-top: 0.5em;
    font-size: 0.6em; }
  html .ui-datepicker .ui-datepicker-header {
    padding-bottom: 1.1em; }
  html .ui-datepicker-calendar th {
    padding-top: 10px;
    padding-bottom: 10px; }
  html .ui-datepicker-calendar td {
    padding: 0 5px;
    line-height: 22px; } }
