html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0px auto;
  width: 100%; }

.container_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0px auto; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

.main_width {
  max-width: 1260px; }

/*Header SECTION*/
.slider {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  overflow: hidden; }

.slider figure div {
  width: 20%;
  float: left; }

slider figure img {
  width: 100%;
  float: left; }

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 65s slidy infinite; }

@keyframes slidy {
  0% {
    left: 0%; }
  10% {
    left: 0%; }
  12% {
    left: -100%; }
  22% {
    left: -100%; }
  24% {
    left: -200%; }
  34% {
    left: -200%; }
  36% {
    left: -300%; }
  46% {
    left: -300%; }
  48% {
    left: -400%; }
  58% {
    left: -400%; }
  60% {
    left: -300%; }
  70% {
    left: -300%; }
  72% {
    left: -200%; }
  82% {
    left: -200%; }
  84% {
    left: -100%; }
  94% {
    left: -100%; }
  96% {
    left: 0%; } }

.head_nav {
  width: 100%;
  font-family: 'Crete Round', serif;
  border-radius: 25%; }

.head_nav nav {
  display: inline-block;
  color: #FFFAFA;
  padding: 20px 5px 5px 5px;
  font-size: 1.2em;
  margin-bottom: 10em; }

.head_nav nav li {
  display: inline-block;
  padding: 0px 10px 0px 5px; }

.head_nav nav li a {
  text-decoration: none;
  color: #FFFAFA; }

.head_nav nav li a::after {
  margin-top: 3px;
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #5843d2;
  transition: width 0.8s; }

.head_nav nav li a:hover::after {
  width: 100%; }

.logo {
  display: inline-block;
  margin: 10px; }

.logo h1 {
  color: #FFFAFA;
  font-size: 2.6em;
  font-family: 'Indie Flower', cursive; }

.account {
  width: 140px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  float: right;
  margin: 20px 20px 0 20px;
  font-size: 1.2em; }

.account #colorSi {
  text-decoration: none;
  color: #FFFAFA;
  padding: 0 0 0.2em 0; }

.account #colorSi::after {
  margin-top: 3px;
  margin-left: 1.25em;
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #5843d2;
  transition: width 0.8s; }

.account #colorSi:hover::after {
  width: 67%; }

.account #colorSi img {
  padding-right: 0.4em;
  width: 24px;
  height: 22px; }

ul.dropdown {
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center; }

ul.dropdown li {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 0.3em;
  padding: 0.4em 0.4em 0.4em 0.9em;
  font-size: 1em;
  display: none;
  width: 6.5em; }

ul.dropdown li a {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  color: #5843d2; }

ul.dropdown li a img {
  width: 1.2em;
  height: 1.2em;
  padding-right: 0.3em; }

ul.dropdown li a p {
  padding-left: 0.3em; }

.inscription {
  justify-content: center; }

.inscription p {
  font-family: 'Dancing Script', cursive;
  color: #ebebeb;
  font-size: 4.8em;
  margin-bottom: 0.2em; }

.search {
  margin-top: 5em;
  margin-bottom: 16em; }

.search .form-section {
  font-size: 1.2em;
  height: 3.5em;
  padding: 0 0 0 0.5em;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 235, 235, 0.4); }

.search .form-section .Where {
  padding-right: 0.6em; }

.search .form-section .Where input {
  font-size: 1em;
  padding: 0.7em;
  width: 10em; }

.search .form-section .check_in {
  padding-right: 0.6em; }

.search .form-section .check_in input {
  font-size: 1em;
  padding: 0.7em;
  width: 5em; }

.search .form-section .check_out {
  padding-right: 0.6em; }

.search .form-section .check_out input {
  font-size: 1em;
  padding: 0.7em;
  width: 5em; }

.search .form-section .number_guests {
  padding-right: 0.6em; }

.search .form-section .number_guests select {
  font-size: 0.8em;
  padding: 0.9em; }

.search .form-section .button_search .btn-default {
  font-size: 0.8em;
  padding: 1.55em 2em;
  display: block;
  background-color: #5843d2;
  border: 1px solid transparent;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.search .form-section .button_search .btn-default:hover {
  background-color: rgba(235, 235, 235, 0.4);
  color: #5843d2;
  border-color: #5843d2; }

.search .form-section .form-group {
  align-items: center;
  justify-content: center; }

.search .form-section .form-group .input-group-addon {
  padding-left: 0.5em; }

.search .form-section .form-group .input-group-addon img {
  width: 2.2em;
  height: 2.2em; }

/*prospect SECTION*/
.prospect {
  padding-top: 10em; }

.prospect .first_proposal {
  display: inline-block;
  width: 33%; }

.prospect .first_proposal .circle {
  width: 13.75em;
  height: 13.75em;
  border-radius: 50%;
  margin: 0 auto;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out; }

.prospect .first_proposal :nth-child(n+2) {
  text-align: center;
  padding: 10px; }

.prospect .first_proposal :nth-child(n+2) h2 {
  font-size: 2em;
  color: #5843d2; }

.prospect .second_proposal {
  display: inline-block;
  width: 33%; }

.prospect .second_proposal .circle {
  width: 13.75em;
  height: 13.75em;
  border-radius: 50%;
  margin: 0 auto;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out; }

.prospect .second_proposal :nth-child(n+2) {
  text-align: center;
  padding: 10px; }

.prospect .second_proposal :nth-child(n+2) h2 {
  font-size: 2em;
  color: #5843d2; }

.prospect .third_proposal {
  display: inline-block;
  width: 33%; }

.prospect .third_proposal .circle {
  width: 13.75em;
  height: 13.75em;
  border-radius: 50%;
  margin: 0 auto;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out; }

.prospect .third_proposal :nth-child(n+2) {
  text-align: center;
  padding: 10px; }

.prospect .third_proposal :nth-child(n+2) h2 {
  font-size: 2em;
  color: #5843d2; }

.circl-info {
  transition: all 0.8s ease-in-out;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.circl-info h3 {
  padding: 90px 0px 0px 24px;
  color: white;
  font-weight: 700;
  font-size: 22px; }

.circl-info p {
  font-size: 18px;
  color: white;
  font-weight: 700; }

.circl-info p a {
  display: block;
  margin: 0 auto;
  border-bottom: hidden;
  color: white; }

.circl-info p a:link {
  text-decoration: none; }

.circl-img1 {
  background-image: url(../images/circle/circle2.jpg); }

.circl-img2 {
  background-image: url(../images/circle/travelfriend2.jpg); }

.circl-img3 {
  background-image: url(../images/circle/plane.jpg); }

.circl-info:hover {
  opacity: 1;
  box-shadow: inset 0 0 0 110px rgba(88, 67, 210, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1); }

/*offers_explore SECTION*/
.offers_explore {
  margin-top: 5em;
  border-top: 1px solid #484848;
  padding-bottom: 3rem; }

.offers_explore .choose_explore {
  text-align: center; }

.offers_explore .choose_explore h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: red;
  font-size: 2.4em; }

.offers_explore .choose_explore p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4em;
  padding-bottom: 82px; }

.containerFlex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  content: space-between;
  max-width: 1350px; }

.travel_offers {
  width: 100%; }

figure.effect-img {
  background-color: #85144b;
  margin: 0.2rem 0.2rem;
  position: relative;
  font-size: 16px;
  /*img {}*/ }

figure.effect-img .resp_pic {
  max-width: 27.5em;
  margin: 0 0 -0.2em 0; }

figure.effect-img figcaption {
  visibility: hidden;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  position: absolute; }

figure.effect-img figcaption:hover {
  z-index: 1; }

figure.effect-img figcaption h2 {
  display: flex;
  justify-content: center;
  padding: 1.8em;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

figure.effect-img figcaption p {
  padding: 1em;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-img figcaption a {
  display: flex;
  justify-content: center;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-img:hover img {
  opacity: 0.7; }

figure.effect-img:hover figcaption {
  color: white;
  opacity: 1;
  visibility: visible; }

figure.effect-img:hover figcaption h2,
figure.effect-img:hover figcaption a,
figure.effect-img:hover figcaption p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-img figcaption::before,
figure.effect-img figcaption::after {
  position: absolute;
  top: -0.4em;
  right: -0.4em;
  bottom: -0.4em;
  left: -0.4em;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-img figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-img figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-img:hover figcaption::before,
figure.effect-img:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/*membership SECTION*/
.membership {
  border-top: solid 1px #222222;
  margin-top: 2em;
  /*background-image: url(../images/member/pexels-photo.jpg);
  background-repeat: no-repeat;
  background-position: right;*/ }

.membership .info_member {
  text-align: center; }

.membership .info_member h2 {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: red;
  font-size: 2.4em; }

.membership .info_member p {
  font-size: 1.4em;
  padding-bottom: 82px; }

.background_member {
  padding-bottom: 3em; }

.member_text {
  padding: 0 0 0 0;
  max-width: 24em;
  height: 100%;
  border: 2px solid black; }

.member_text h2 {
  color: white;
  padding-top: 1.2em;
  background-color: #292b2e;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 2em;
  font-size: 1.4em; }

.member_text p.text_mb1 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222222; }

.member_text h3 {
  color: red;
  padding-top: 1em;
  padding-bottom: 0.5em; }

.member_text p.text_mb2 {
  padding-top: 1.2em; }

.member_text ul {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 25%;
  text-align: left; }

.member_text .join_us {
  margin: 1.6em auto;
  font-size: 1.1em;
  border: none;
  border-radius: 40px;
  background-color: #292b2e;
  color: #f9f9f9;
  padding: 14px 63px; }

.member_text .join_us a {
  text-decoration: none;
  color: #FFFAFA; }

.member_text .join_us a a:link {
  text-decoration: none;
  color: #FFFAFA; }

.member_text .join_us:hover {
  background-color: #85144b; }

.become_member {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  justify-content: center; }

.become_member .flex_member {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center; }

.become_member .color_member,
.become_member .support_member,
.become_member .organizer_member {
  background-color: white;
  border-radius: 40px;
  margin: 0 40px 0 40px;
  font-family: "Source Sans Pro", sans-serif; }

.color_member {
  padding: 0 0 0 0;
  max-width: 24em;
  height: 100%;
  border: 2px solid #85144b; }

.color_member h2 {
  color: white;
  padding-top: 1.2em;
  background-color: #85144b;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 2em;
  font-size: 1.4em; }

.color_member p.text_mb1 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #85144b; }

.color_member h3 {
  color: red;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 20px; }

.color_member p.text_mb2 {
  padding-top: 1.2em; }

.color_member ul {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 25%;
  text-align: left; }

.color_member .join_us {
  margin: 1.6em auto;
  font-size: 1.1em;
  border: none;
  border-radius: 40px;
  background-color: #85144b;
  color: #f9f9f9;
  padding: 14px 63px; }

.color_member .join_us a {
  text-decoration: none;
  color: #FFFAFA; }

.color_member .join_us a a:link {
  text-decoration: none;
  color: #FFFAFA; }

/*FOOTER*/
.footer_width {
  max-width: 1050px; }

footer {
  margin-top: 3rem;
  padding-top: 2em;
  border-top: 1px solid #222222;
  width: 100%; }

.footer_info {
  justify-content: space-around;
  padding: 0; }

.footer_info .about h3 {
  font-weight: bold;
  padding: 0 0 0.9em 0; }

.footer_info .about li {
  padding: 0.1em 0; }

.footer_info .about li a {
  text-decoration: none;
  color: grey; }

.footer_info .about li a:hover {
  border-bottom: 2px solid grey; }

.airplane_icon {
  padding: 1.4em 0 0 0; }

#dialog {
  display: none;
  width: 200px;
  height: 200px; }

.terms_privacy {
  border-top: 1px solid #222222;
  margin: 1.8em auto;
  padding-top: 1em;
  justify-content: space-between;
  max-width: 850px; }

.terms_privacy ul {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row-;
  justify-content: center; }

.terms_privacy ul li {
  padding: 0 0.2em; }
