@import "reset";
@mixin mediaquery {


  @media (max-width: 399px) {

  }

  @media (min-width: 400px) and (max-width: 799px) {

  }

  @media (min-width: 800px) {

  }

  #Pic1Res2,
  #Pic2Res2,
  #Pic3Res2,
  #Pic4Res2,
  #Pic5Res2 {
    display: none;
  }
  /* 1280 x 640 */
  @media only screen and (max-width: 1365px) { 
    html {
      font-size: 15px;
      figure.effect-img {
        font-size: 14px;
      }
   /* .search {
      .form-section {
        .Where {
          padding: 0.53em;
        .Number_guests {
        //padding: 8.7px;
        .form-control {
          width: 140px;
          //height: 46px;
          //font-size: 1em;
            }
          }
        .button_search {
          .btn-default {
            margin: 0 auto;
            font-size: 15px;
            padding: 22px 32px;
              }
            }
          }
        }
      }*/

      
    // ** slider **\\

    #Pic1Res1,
    #Pic2Res1,
    #Pic3Res1,
    #Pic4Res1,
    #Pic5Res1 {
      display: none;
    }
    #Pic1Res2,
    #Pic2Res2,
    #Pic3Res2,
    #Pic4Res2,
    #Pic5Res2 {
      display: inherit;
    }
    .btn-default {
      margin: 0 auto;
      font-size: 15px;
      padding: 23.2px 30px;

    .inscription {
      p {
        margin: 2em 0em 1.4em 5.5em;
      }
    }
    //** datepicker **//
    .ui-datepicker {
      width: 224px;
      padding: 0.5em 0.4em 0 0.4em;
      margin-top: 0.5em;
      font-size: 0.6em;
      .ui-datepicker-header {
        padding-bottom: 1.1em;
      }
    }
    .ui-datepicker-calendar th {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ui-datepicker-calendar td {
      padding: 0 5px;
      line-height: 22px;
        }
      }
    }
  }
  // *for images* \\
  @media only screen and (max-width: 1355px) { 
    }
  }  

@include mediaquery;
//1355