@mixin mediaquery {

  
  @media (max-width: 399px) {

  }
  /* 425 x  */
  @media only screen and (max-width: 426px) {
    body {
      .mobile_nav,
      .inscription,
      .search,
      .head_nav,
      .offers_explore,
      .footer_info,
      .membership,
      .terms_privacy {
        font-size: 9px !important;
      }
    }
    .airplane_icon {
      display: none;
    }
    .background_member{
      display: none;
    }
  }
  @media only screen and (max-width: 506px) {
    .offers_explore {
      .travel_offers {
        figure.effect-img {
          font-size: 12px !important;
        }
      }
    }
  }
    
  @media only screen and (max-width: 712px) {
    header {
      .mobile_nav {
        display: flex;
      }
      .head_nav {
      display: none;
      }
      .inscription{
        p {
          font-size:  3em;
        }
      }
      .search {
        padding-bottom: 12em;
        font-size: 12px;
          .Where {
            .form-control {
             width: 20em;
          }
        }
        .check_in,
        .check_out,
        .number_guests {
        display: none;
        }
      }
    }
    .airplane_icon {
      display: none;
    }
  }

  
  
  /*  850/768 x 576 Tablet */
  @media only screen and (max-width: 850px) {
    
    .head_nav,
    .offers_explore,
    .travel_offers,
    .footer_info,
    .membership,
    .terms_privacy {
      font-size: 12px;
    }
    
    header {
      .slider{
      display: none;
      }
      background-image: url(../images/background/ancient-1869218_1024.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .search {
    padding-bottom: 12em;
    font-size: 12px;
    }
    .offers_explore {
      margin-top: 0;
      .travel_offers {
        figure.effect-img {
          font-size: 9px !important;
          }
        }
      }
    .landing_page {
    display: none;
    }
  }
  /* 950px */
  @media only screen and (max-width: 950px) {
    header {
      .slider{
        display: none;
      }
      .search {
        padding-bottom: 12em;
      }
      background-image: url(../images/background/ancient-1869218_1024.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .landing_page {
      display: none !important;
    }
    .offers_explore{
    margin-top: 0px;
    }
    section {
        .travel_offers {
          figure.effect-img {
          font-size: 10px !important;
        }
      }
    }
  }
  /* 1024 x 600 Laptop */
  @media only screen and (max-width: 1024px) { 
    header,
    section,
    footer {
      font-size: 14px;
    }
    .travel_offers {
      figure.effect-img {
        font-size: 11px !important;
      
    }
  }
}
  /* 1176 */
  @media screen and (max-width: 1176px) { 
    section {
      .travel_offers {
        figure.effect-img {
          font-size: 12px;
        }
      }
    }
  }
  
  #Pic1Res2,
  #Pic2Res2,
  #Pic3Res2,
  #Pic4Res2,
  #Pic5Res2 {
    display: none;
  }
  /* 1366 x 672 Laptop L*/
  @media only screen and (max-width: 1366px) { 
    html {
      font-size: 15px;
      figure.effect-img {
        font-size: 14px;
      }
     
    // ** slider **\\

    #Pic1Res1,
    #Pic2Res1,
    #Pic3Res1,
    #Pic4Res1,
    #Pic5Res1 {
      display: none;
    }
    #Pic1Res2,
    #Pic2Res2,
    #Pic3Res2,
    #Pic4Res2,
    #Pic5Res2 {
      display: inherit;
    }


    //** datepicker **//
    .ui-datepicker {
      width: 224px;
      padding: 0.5em 0.4em 0 0.4em;
      margin-top: 0.5em;
      font-size: 0.6em;
      .ui-datepicker-header {
        padding-bottom: 1.1em;
      }
    }
    .ui-datepicker-calendar th {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ui-datepicker-calendar td {
      padding: 0 5px;
      line-height: 22px;
      }
    }
  }
}  

@include mediaquery;
//1355