// improts:
@import "reset";

// variables: 
$main-color: #bdce80; 

header {
  background-image: url(../images/background/rsz_bay-1867798_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

container {
  min-width: 1000px;
  border: 1px solid #26E0DC; 
}

div {
  h1 {
    color: $main-color;
    font-size: 40px;
  }
}
