// improts:
@import "reset";
@import "bourbon";
// variables: 
$font-inputs: 'Lato',
sans-serif;
$main-colors: rgba(235, 235, 235, 0.4); //rgb(235,235,235);
$menu-colors: #FFFAFA;
$btn-colors: rgba(88, 67, 210, 1); //rgb(86, 52, 209); rgb(99,230,233);
@mixin SearchEnginer-style {
  display: inline-block;
  background-color: $main-colors;
  border: 1px solid transparent;
  input {
    padding-left: 15px;
    font-size: 1.2em;
    height: 2.8rem;
  }
}

@mixin clearfix {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {}

.slider {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  overflow: hidden;
}

.slider figure div {
  width: 20%;
  float: left;
}

slider figure img {
  width: 100%;
  float: left;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 65s slidy infinite;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  58% {
    left: - 400%;
  }
  60% {
    left: - 300%;
  }
  70% {
    left: -300%;
  }
  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
}

// containers and main widthraw.
.container {
  margin: 0px auto;
  width: 100%;
}

.container_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  margin: 0px auto;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

.main_width {
  max-width: 1260px;
  //border: 1px solid blue;
}

.head_nav {
  width: 100%;
  font-family: 'Crete Round', serif;
  border-radius: 25%; 
  nav {
    display: inline-block;
    color: $menu-colors;
    padding: 20px 5px 5px 5px;
    font-size: 1.1em;
    li {
      display: inline-block;
      padding: 0px 10px 0px 5px;
      a {
      color: $menu-colors;
      }
      a:link {
        text-decoration: none;
      }
    }
  }
  .logo {
    display: inline-block;
    margin: 10px;
    h1 {
      color: $menu-colors;
      font-size: 2.6em;
      font-family: 'Indie Flower', cursive;
    }
  }
  .account {
    width: 140px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    float: right;
    margin: 20px 20px 0 20px;
    font-size: 1.2em;
    #colorSi {
      text-decoration: none;
      color: $menu-colors;
      padding: 0 0 0.2em 0;
      span:hover {
        border-bottom: 2px solid white;  
      }
    img {
      padding-right: 0.5em;
      width: 22px;
      height: 22px;
      }
    }
  } 
}


/////////// CSS for drop down list with JS   ///////////////

ul.dropdown {
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  //padding:0 0.2em 0.4em 0.2em;
  li {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 0.3em;
    padding: 0.4em 0.4em 0.4em 0.9em;
    font-size: 1em;
    display: none;
    a {
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      align-items: center;
      text-decoration: none;
      color: $btn-colors;
      img {
        width: 1.2em; 
        height: 1.2em;
        padding-right: 0.3em;
      }
      p { 
        padding-left: 0.3em;
      }
    }
  }
}


///////////////////////////////////////////////////////
.inscription {
  position: relative;
  //background-color: rgba(88, 67, 210, 0.6);
  p {
    font-family: 'Dancing Script', cursive;
    color: rgb(235, 235, 235);
    font-size: 4.8em;
    margin: 2.8em 0em 1.4em 5.5em;
    //border: 1px solid black;
  }
}

// Travel oferts - search enginer 
.search {
  border-radius: 5px;
  width: 100%;
  padding-bottom: 140px;
  margin-bottom: 12em;
  .form-section {
    margin-left: 125px;
    .Where {
      @include SearchEnginer-style;
      float: left;
      padding: 0.5em;
    }
    .check_in {
      display: inline-block;
      @include SearchEnginer-style;
      float: left;
      padding: 8px;
      width: 17%;
      input {
        width: 6em;
        float: left;
        font-family: $font-inputs;
      }
      .input-group-addon > img {
        width: 40px;
        float: right;
        padding: 4px;
      }
    }
    .check_out {
      @include SearchEnginer-style;
      float: left;
      padding: 8px;
      width: 17%;
      input {
        width: 6em;
        float: left;
        font-family: $font-inputs;
      }
      .input-group-addon > img {
        width: 40px;
        float: right;
        padding: 4px;
      }
    }
    .Number_guests {
      @include SearchEnginer-style;
      float: left;
      padding: 10px;
      .form-control {
        width: 140px;
        height: 46px;
        font-size: 1em;
        font-family: $font-inputs;
      }
    }
    .button_search {
      display: inline-block;
      .btn-default {
        margin: 0 auto;
        font-size: 1rem;
        padding: 1.45rem 2rem;
        display: block;
        background-color: $btn-colors;
        border: 2px solid transparent;
        color: #ffffff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: $main-colors;
          color: $btn-colors;
          border-color: $btn-colors;
        }
      }
    }
  }
}


/*prospect SECTION*/

////////////////////////////////////////////////////////////////////////////////////////
.landing_page {
  //background-color: rgb(99,230,233);
  //height: 70vh;
  //border: 4px solid rgb(99,230,233);
}

@mixin CirclePhotosText {
  display: inline-block;
  width: 33%;
  .circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: default;
    box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
  }
  :nth-child(n+2) {
    text-align: center;
    padding: 10px;
    //border: 1px solid brown;
    h2 {
      font-size: 2em;
      color: $btn-colors;
    }
  }
}

.prospect {
  margin-top: 60px;
  padding-top: 20px;
  .first_proposal {
    @include CirclePhotosText;
  }
  .second_proposal {
    @include CirclePhotosText;
  }
  .third_proposal {
    @include CirclePhotosText;
  }
}

.circl-info {
  transition: all 0.8s ease-in-out;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  h3 {
    padding: 90px 0px 0px 24px;
    color: white;
    font-weight: 700;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    color: white;
    font-weight: 700;
  a {
    display: block;
    margin: 0 auto;
    border-bottom: hidden;
    color: white;
    }
    a:link {
    text-decoration: none;
    }
  }
}

.circl-img1 {
  background-image: url(../images/circle/circle2.jpg);
}

.circl-img2 {
  background-image: url(../images/circle/travelfriend2.jpg);
}

.circl-img3 {
  background-image: url(../images/circle/plane.jpg);
}

.circl-info:hover {
  opacity: 1;
  box-shadow: inset 0 0 0 110px rgba(88, 67, 210, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}


/*offers_explore SECTION*/

////////////////////////////////////////////////////////////////////////////////////////////
.offers_explore {
  //background-color: ghostwhite;
  margin-top: 80px;
  border-top: 1px solid #484848;
  padding-bottom: 3rem;
  .choose_explore {
    text-align: center;
    h2 {
      padding-top: 1.2em;
      padding-bottom: 1.2em;
      color: red;
      font-size: 2.4em;
    }
    p {
      font-size: 1.4em;
      padding-bottom: 82px;
    }
  }
}

.containerFlex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  content: space-between;
  max-width: 1350px;
}

.resp_pic {
  max-width: 440px;
  margin: 0 0 -0.2em 0;
}

.travel_offers {
  width: 100%;
}

figure.effect-img {
  background-color: #85144b;
  margin: 0.2rem 0.2rem;
  position: relative;
  /*img {}*/
  figcaption {
    visibility: hidden;
    left: 30px;
    top: 30px;
    right: 30px;
    bottom: 30px;
    position: absolute;
    &:hover {
      z-index: 1;
    }
    h2 {
      display: flex;
      justify-content: center;
      padding: 1.8em;
      font-size: 1.5em;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    span {}
    p {
      padding: 1em;
      font-size: 1.4em;
      text-align: center;
      display: flex;
      justify-content: center;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
    a {
      display: flex;
      justify-content: center;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
  }
  &:hover {
    img {
      opacity: 0.7;
    }
    figcaption {
      color: white;
      opacity: 1;
      visibility: visible;
      h2,
      a,
      p {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

///////** effect-img - added pseudo classes for border animation **//////   
figure.effect-img figcaption::before,
figure.effect-img figcaption::after {
  position: absolute;
  top: -0.4em;
  right: -0.4em;
  bottom: -0.4em;
  left: -0.4em;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-img figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-img figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-img:hover figcaption::before,
figure.effect-img:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


/*membership SECTION*/

///////////////////////////////////////////////////////////////////////////
.membership {
  border-top: solid 1px #222222;
  margin-top: 2em;
  //margin-bottom: 2em;
  /*background-image: url(../images/member/pexels-photo.jpg);
  background-repeat: no-repeat;
  background-position: right;*/
  //background-color: #F6F6F6;
  .info_member {
    text-align: center;
    h2 {
      padding-top: 1.2em;
      padding-bottom: 1.2em;
      color: red;
      font-size: 2.4em;
    }
    p {
      font-size: 1.4em;
      padding-bottom: 82px;
    }
  }
}

.background_member {
  padding-bottom: 3em;
}


.member_text {
  padding: 0 0 0 0;
  max-width: 24em;
  height: 100%;
  border: 2px solid black;
  h2 {
    color: white;
    padding-top: 1.2em;
    background-color: #292b2e;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    height: 2em;
    font-size: 1.4em;
  }
  
  p.text_mb1 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #222222;
  }
  
  h3 { 
    color: red;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  
  p.text_mb2 {
    padding-top: 1.2em;
  }
  
  ul {
    padding-top: 1em;
    padding-bottom: 1em; 
    padding-left: 25%;
    text-align: left;
  }
  
  .join_us {
    margin: 1.6em auto;
    font-size: 1.1em;
    border: none;
    border-radius: 40px;
    background-color: #292b2e;
    color: #f9f9f9;
    padding: 14px 63px;
  }
  
  .join_us:hover {
    background-color: #85144b; //rgb(240,128,128);
  }
}
.become_member {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  .flex_member {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .color_member,
  .support_member,
  .organizer_member {
    background-color: white;
    border-radius: 40px;
    margin: 0 40px 0 40px;
    //@include member_text;
  }
}

//////  CSS class for JavaScript  ///////

.color_member {
    padding: 0 0 0 0;
    max-width: 24em;
    height: 100%;
  border: 2px solid #85144b;
    h2 {
      color: white;
      padding-top: 1.2em;
      background-color: #85144b;
      border-top-left-radius: 37px;
      border-top-right-radius: 37px;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      height: 2em;
      font-size: 1.4em;
    }

    p.text_mb1 {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #85144b;
    }

    h3 { 
      color: red;
      padding-top: 1em;
      padding-bottom: 0.5em;
    }

    p.text_mb2 {
      padding-top: 1.2em;
    }

    ul {
      padding-top: 1em;
      padding-bottom: 1em; 
      padding-left: 25%;
      text-align: left;
    }

    .join_us {
      margin: 1.6em auto;
      font-size: 1.1em;
      border: none;
      border-radius: 40px;
      background-color: #85144b;
      color: #f9f9f9;
      padding: 14px 63px;
  }
}

/*FOOTER*/
///////////////////////////////////////////////////////////////////////////

.footer_width {
  max-width: 1050px;
}

footer {
  margin-top: 3rem;
  padding-top: 2em;
  border-top: 1px solid #222222;
  width: 100%;
  //height: 30vh;
}
.footer_info {
  justify-content: space-around;
  //align-items: flex-start;
  padding: 0 ;
  .about {
    h3 {
      font-weight: bold;
      padding: 0 0 0.9em 0;
    }
    li{
      padding: 0.1em 0;
    a {
      text-decoration: none;
      color: grey;
      }
    a:hover {
      border-bottom: 2px solid grey;
      }
    }
  }
}

.airplane_icon{
  padding: 1.4em 0 0 0;
}

.terms_privacy {
  border-top: 1px solid #222222;
  margin: 1.8em auto;
  padding-top: 1em;
  justify-content: space-between;
  max-width: 850px;
  .smth {
  }
  ul {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row-;
    justify-content: center;
    li {
    padding: 0 0.2em;
    } 
  }
}