// improts:
@import "reset";
// variables: 
$main-colors: #7B68EE;
$menu-colors: #FFFAFA;
@mixin SearchEnginer-style {
  display: inline-block;
  //font-size: 1.1rem;
  //padding-top: 1em;
  background-color: #009ac9;
  border: 1px solid transparent;
  input {
    padding-left: 15px;
    font-size: 1.2em;
    height: 2.8rem;
  }
}

@mixin clearfix {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
  background-image: url(../images/background/beach-1853939_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: center;
}

// container and main widthraw.
.container {
  //border: 1px solid #DC143C; 
  margin: 0px auto;
  width: 100%;
}

.main_width {
  max-width: 1260px;
  //border: 1px solid blue;
}

.head_nav {
  font-family: 'Crete Round', serif;
  // Logo, Navigation and login for account. 
  nav {
    color: $menu-colors;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    li {
      display: inline-block;
      padding: 10px;
    }
  }
  .logo_nav {
    margin: 10px;
    display: inline-block;
    h1 {
      color: $menu-colors;
      font-size: 2em;
    }
  }
  .account {
    color: $menu-colors;
    float: right;
    margin: 15px 20px 20px 20px;
    border-bottom: 2px solid $menu-colors;
  }
}

.inscription {
  position: relative;
  p {
    font-family: 'Dancing Script', cursive;
    color: $menu-colors;
    font-size: 4.8em;
    margin: 2.8em 3.8em 1.6em 5.5em;
    //border: 1px solid black;
  }
}

// Travel oferts - search enginer 
.search {
  //background: rgba(250, 250, 250, 0.3);
  border-radius: 5px;
  width: 100%;
  padding-bottom: 120px;
  .form-section {
    margin-left: 170px;
    .Where {
      @include SearchEnginer-style;
      float: left;
      padding: 8px;
    }
    .check_in {
      @include SearchEnginer-style;
      float: left;
      padding: 8px;
      input {
        width: 6em;
      }
    }
    .check_out {
      @include SearchEnginer-style;
      float: left;
      padding: 8px;
      input {
        width: 6em;
      }
    }
    .Number_guests {
      @include SearchEnginer-style;
      float: left;
      padding: 10px;
      .form-control {
        width: 140px;
        height: 46px;
        font-size: 1em;
      }
    }
    .button_search {
      display: inline-block;
      .btn-default {
        margin: 0 auto;
        font-size: 1rem;
        padding: 1.45rem 2rem;
        display: block;
        background-color: #009ac9;
        border: 2px solid transparent;
        color: #ffffff;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #009ac9;
          border-color: #009ac9;
        }
      }
    }
  }
}

.input-group-addon {
  img {
    width: 30px;
  }
}